{so_name, "eredis_engine.so"}.

{port_sources, ["c_src/*.c"]}.

{port_envs, [

             {"CFLAGS", "$CFLAGS  -fPIC"},
	     {"DRV_CFLAGS", "$DRV_CFLAGS -g  -Ic_src/redis/src"},
             {"DRV_CFLAGS", "$DRV_CFLAGS   -Ic_src/redis/deps/linenoise/src"},
             {"DRV_CFLAGS", "$DRV_CFLAGS   -Ic_src/redis/deps/hiredis/src"},
             {"DRV_CFLAGS", "$DRV_CFLAGS   -Ic_src/redis/deps/lua/src"},
    	     {"DRV_LDFLAGS","$DRV_LDFLAGS  c_src/redis/src/libredis.a "},
    	     {"DRV_LDFLAGS","$DRV_LDFLAGS  c_src/redis/deps/jemalloc/lib/libjemalloc.a"}
             ]}.


{deps_dirs,["deps"]}.
{deps,
 [
 ]}.
             %% Make sure to set -fPIC when compiling redis	
{pre_hooks, [{compile, "./c_src/build_deps.sh"}]}.

%{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.

